<html>
<head>
    <title>Express using Typescript</title>
</head>
<body>
<div align="center">
<h1 style="color: #00d6b2">Savings</h1>
<form action="/login" method="get">
    <p style="color:#555500">
    Enter Your Name :
    <input style="margin-left: 20px;" type="text" name="user" required="required" placeholder="" />
    </p>
    <p style="color:#555500">
    Enter Password here :
    <input style="margin-left: 5px;" type="password" name="password" required="required" placeholder="" />
    </p>
  <input style="float: left" type="submit" name="submit" value="Login" />
</form>
<form action="/signup" method="post"> <input style="float: left" type="submit" name="signup" value="signup" /></form>
<form action="/logout" method="post"> <input style="float: right" type="submit" name="logout" value="logout" /></form>
</div>
</body>
</html>