<html>
<head>

    <title>Express using Typescript</title>
</head>
<body>
<div align="center">
<form action="/signUp" method="post">
    <h1 style="color:#00d6b2">Sign Up Form</h1>
   <p style="color:#555500">Enter Your Name :
<br/>
    <input type="text" name="user" required="required" placeholder="" />
   </p>

    <p style="color:#555500">Enter Passowrd here :
        <br>
        <input type="password" name="password" required="required" placeholder="" />
    </p>
    <input type="submit" name="submit" value="signup" />
</form>
</div>
</body>
</html>